@use "../Outils/mixins.scss";

.explorer{
    text-align: center;
        & h2{
            font-size: 2rem;
            }
        & p{
            font-size: 1rem;
            }
        & button{
            color: white;
            font-weight: 300;
            font-size: 1.5rem;
            padding: 1rem 2rem;
            border: none;
            border-radius: 2rem;
            /*box-shadow: 2px 1px 16px -3px #000000;*/
            transition: all 250ms;
            margin-top: 1rem;
            @include mixins.base-shadow;
            @include mixins.gradient(0.9);
            }
        & button:hover{
            transform: scale(1.02);
            opacity: 0.9;
            }
    }