@use "../Outils/variables.scss";
@use "../Outils/colors.scss";
@use "../Outils/mixins.scss";
@use "../Outils/animations.scss";



body {
    background-color: colors.$lightergrey;
}


#page-resto{
header{
    &:hover::before {
        @include mixins.transform-zoom($zoom-level: 1.2, $transformation: translateY(-50%));
    }
    &::before {
    @include mixins.font-awesome($font-weight:900); 
    content: "\f060";
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    transition: transform 200ms;
}
}

.banner img{
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
}


.resto__titre{
    margin-top: -2rem;

    h2{
    position: relative;
    font-family: "Shrikhand" , "cursive" ;
    padding: 2rem 1rem;
    border-radius: 2rem 2rem 0 0;
    background: white;
    background-color: colors.$lightergrey;
    i{
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .fas{
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms ease-in-out;
        @include mixins.gradient(1);
    }
    &:hover .fas{
        opacity: 1;
        transform:translateY(-50%) scale(1.1);
    }
    }
}

.resto-main{
    background-color: colors.$lightergrey;
}

.menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: variables.$breakpoint){
        grid-template-columns: 1fr;
    }
    h3{
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin-bottom: 1rem;
        &::after{
            content:"";
            position: absolute;
            top: 1.5rem;
            left: 0;
            height: .25rem;
            width: 3rem;
            background-color: colors.$colors-trois;
        }
    }
    .menus__category {
        overflow: hidden;

        .menus-item{
            $numberOfItems: 3;
            @for $i from 1 through $numberOfItems {
                &:nth-child(#{$i}) {
                    animation-delay: 100ms * $i;
                }
            }
            display: flex;
            overflow: hidden;
            background-color: white;
            margin: .5rem;
            border-radius: 1rem;
            @include mixins.base-shadow;
            animation: appear 1s;
            animation-fill-mode: both;
            .menus-item__price {
                margin-left: auto;
                font-weight: 900;
                padding: 1rem;
                display: flex;
                align-items: flex-end;
            }
            .menus-item__description{
                padding: 1rem;
                overflow: hidden;
                h4,
                    p{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    }
            }
            .menus-item__icone{
                display: grid;
                place-items: center;
                flex-shrink: 0;
                $button-width: 4rem;
                border-radius: 0 1rem 1rem 0;
                background-color: colors.$colors-trois;
                margin-right: -$button-width;
                width: $button-width;
                transition: margin-right .5s;
                i {
                display: grid;
                place-items: center;
                background: white;
                height: 2rem;
                width: 2rem;
                border-radius: 1rem;
                color: colors.$colors-trois;
                }
            }
            &:hover{
                cursor: pointer;
             .menus-item__icone{
                margin-right: 0;
            }
            i {
            @include animations.icone-spin;    
            animation: icone-spin 1.5s ease-in-out;
            }
        }
        }
    }
}
section.order{
    height: 30vh;
    display: grid;
    place-items: center; 
    button{
        @include mixins.base-button;
    }
}
}
